<a href="https://colab.research.google.com/github/namhawon/2024_Study02/blob/main/06_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B2%A0%EC%9D%B4%EC%8A%A4_%EA%B0%9C%EB%A1%A0_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Google Colab에서 PostgreSQL 실습하기**

## Google Colab에 PostgreSQL 설치하고 데이터베이스 생성하기

In [ ]:
# 1. PostgreSQL 설치
!apt-get -y update
!apt-get -y install postgresql postgresql-contrib

# 2. PostgreSQL 서비스 시작
!service postgresql start

# 3. postgres 유저의 비밀번호 설정
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'password';"

# 4. PostgreSQL 데이터베이스 생성
!sudo -u postgres createdb mydb

# Python에서 PostgreSQL에 접속하기 위한 psycopg2 라이브러리 설치
!pip install psycopg2-binary

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [973 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,994 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,664 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,125 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,591 kB]
Get:16 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [27.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,409 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,258 kB]
Fetched 13.4 MB in 6s (2,080 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common ssl-cert sysstat
Suggested packages:
  bsd-mailx | mailx postgresql-doc postgresql-doc-14 isag
The following NEW packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common
  postgresql-contrib ssl-cert sysstat
0 upgraded, 14 newly installed, 0 to remove and 46 not upgraded.
Need to get 18.4 MB of archives.
After this operation, 51.7 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 logrotate amd64 3.19.0-1ubuntu1.1 [54.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 netbase all 6.3 [12.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcommon-sense-perl amd64 3.75-2build1 [21.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-perl all 4.04000-1 [81.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libtypes-serialiser-perl all 1.01-1 [11.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-xs-perl amd64 4.030-1build3 [87.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-client-common all 238 [29.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-client-14 amd64 14.12-0ubuntu0.22.04.1 [1,223 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 ssl-cert all 1.1.2 [17.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-common all 238 [169 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-14 amd64 14.12-0ubuntu0.22.04.1 [16.2 MB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql all 14+238 [3,288 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-contrib all 14+238 [3,292 B]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sysstat amd64 12.5.2-2ubuntu0.2 [487 kB]
Fetched 18.4 MB in 3s (5,571 kB/s)
Preconfiguring packages ...
Selecting previously unselected package logrotate.
(Reading database ... 121925 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.12-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.12-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.12-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.12-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package postgresql-contrib.
Preparing to unpack .../12-postgresql-contrib_14+238_all.deb ...
Unpacking postgresql-contrib (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../13-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.12-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.12-0ubuntu0.22.04.1) ...
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-contrib (14+238) ...
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 27.2 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [ ]:
# 두번째 데이터베이스 생성

!sudo -u postgres createdb mydb2

## 테이블 생성 및 삭제

In [ ]:
import psycopg2

# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# students 테이블 생성
cur.execute("""
CREATE TABLE IF NOT EXISTS students (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    age INTEGER
);
""")
conn.commit()

# students 테이블에 데이터 입력
cur.execute("""
INSERT INTO students (name, age) VALUES
('김아우타', 22),
('박아우타', 23),
('최아우타', 21);
""")
conn.commit()

# 데이터 조회
cur.execute("SELECT * FROM students;")

# 조회 결과 가져오기
rows = cur.fetchall()

# 조회 결과 출력
for row in rows:
    print(row)

# 커서와 연결 종료
cur.close()
conn.close()

(1, '김아우타', 22)
(2, '박아우타', 23)
(3, '최아우타', 21)

In [ ]:
# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# 테이블 삭제
cur.execute("DROP TABLE IF EXISTS students;")
conn.commit()  # 변경 사항을 데이터베이스에 반영

# 테이블이 삭제되었는지 확인
try:
    cur.execute("SELECT * FROM students;")
except psycopg2.errors.UndefinedTable as e:
    print("테이블이 존재하지 않습니다:", e)

# 커서와 연결 종료
cur.close()
conn.close()

테이블이 존재하지 않습니다: relation "students" does not exist
LINE 1: SELECT * FROM students;
                      ^

## 데이터 CRUD

In [ ]:
import psycopg2

# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# 테이블 생성
cur.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    age INTEGER,
    major VARCHAR(100)
);
""")
conn.commit()

# 데이터 삽입 (CREATE)
cur.execute("""
INSERT INTO students (name, age, major) VALUES
('김아우타', 22, '컴퓨터 과학'),
('박아우타', 23, '수학'),
('최아우타', 21, '물리학');
""")
conn.commit()

# 데이터 조회 (READ)
cur.execute("SELECT * FROM students;")
rows = cur.fetchall()

print("students 테이블 데이터:")
for row in rows:
    print(row)

# 데이터 업데이트 (UPDATE)
cur.execute("""
UPDATE students
SET major = '데이터 사이언스'
WHERE name = '김아우타';
""")
conn.commit()

# 업데이트 결과 조회 (READ)
cur.execute("SELECT * FROM students WHERE name = '김아우타';")
row = cur.fetchone()
print("업데이트 결과:", row)

# 데이터 삭제 예제 (DELETE)
cur.execute("DELETE FROM students WHERE name = '최아우타';")
conn.commit()

# 삭제 결과 조회 (READ)
cur.execute("SELECT * FROM students;")
rows = cur.fetchall()

print("삭제 결과:")
for row in rows:
    print(row)

# 커서와 연결 종료
cur.close()
conn.close()

students 테이블 데이터:
(1, '김아우타', 22, '컴퓨터 과학')
(2, '박아우타', 23, '수학')
(3, '최아우타', 21, '물리학')
업데이트 결과: (1, '김아우타', 22, '데이터 사이언스')
삭제 결과:
(2, '박아우타', 23, '수학')
(1, '김아우타', 22, '데이터 사이언스')

In [ ]:
# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# 테이블 삭제
cur.execute("DROP TABLE IF EXISTS students;")
conn.commit()  # 변경 사항을 데이터베이스에 반영

# 테이블이 삭제되었는지 확인
try:
    cur.execute("SELECT * FROM students;")
except psycopg2.errors.UndefinedTable as e:
    print("테이블이 존재하지 않습니다:", e)

# 커서와 연결 종료
cur.close()
conn.close()

테이블이 존재하지 않습니다: relation "students" does not exist
LINE 1: SELECT * FROM students;
                      ^

## JOIN 구문 연습

In [ ]:
import psycopg2

# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# 테이블 생성 (students, courses, enrollments)
cur.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    age INTEGER,
    major VARCHAR(100)
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS courses (
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(100),
    instructor VARCHAR(100)
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS enrollments (
    enrollment_id SERIAL PRIMARY KEY,
    student_id INTEGER REFERENCES students(student_id),
    course_id INTEGER REFERENCES courses(course_id),
    grade VARCHAR(2)
);
""")
conn.commit()



# 데이터 삽입 (CREATE)
cur.execute("""
INSERT INTO students (name, age, major) VALUES
('김아우타', 22, '컴퓨터 과학'),
('박아우타', 23, '수학'),
('최아우타', 21, '물리학'),
('이아우타', 24, '화학');
""")

cur.execute("""
INSERT INTO courses (course_name, instructor) VALUES
('데이터베이스', '이교수'),
('알고리즘', '박교수'),
('통계학', '최교수'),
('선형대수학', '서교수');
""")

cur.execute("""
INSERT INTO enrollments (student_id, course_id, grade) VALUES
(1, 1, 'A'),
(1, 2, 'B'),
(2, 1, 'C'),
(2, 3, 'B'),
(3, 2, 'A');
""")
conn.commit()

# JOIN 연습: 학생의 수강 과목과 성적 조회 (INNER JOIN)
cur.execute("""
SELECT students.name, courses.course_name, enrollments.grade
FROM enrollments
JOIN students ON enrollments.student_id = students.student_id
JOIN courses ON enrollments.course_id = courses.course_id;
""")
rows = cur.fetchall()

print("학생의 수강 과목과 성적 (JOIN):")
for row in rows:
    print(row)

# LEFT JOIN 예제: 모든 학생과 그들의 수강 과목 조회 (수강하지 않은 학생도 포함)
cur.execute("""
SELECT students.name, courses.course_name, enrollments.grade
FROM students
LEFT JOIN enrollments ON students.student_id = enrollments.student_id
LEFT JOIN courses ON enrollments.course_id = courses.course_id;
""")
rows = cur.fetchall()

print("\n모든 학생과 그들의 수강 과목 (수강하지 않은 학생도 포함, LEFT JOIN):")
for row in rows:
    print(row)

# 커서와 연결 종료
cur.close()
conn.close()

학생의 수강 과목과 성적 (JOIN):
('김아우타', '데이터베이스', 'A')
('김아우타', '알고리즘', 'B')
('박아우타', '데이터베이스', 'C')
('박아우타', '통계학', 'B')
('최아우타', '알고리즘', 'A')

모든 학생과 그들의 수강 과목 (수강하지 않은 학생도 포함, LEFT JOIN):
('김아우타', '데이터베이스', 'A')
('김아우타', '알고리즘', 'B')
('박아우타', '데이터베이스', 'C')
('박아우타', '통계학', 'B')
('최아우타', '알고리즘', 'A')
('이아우타', None, None)

## 엑셀 파일에서 데이터 입력하기

![image.png]()

https://www.academyinfo.go.kr/main/main2130/doInit.do

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_excel("대학주요정보.xlsx")

# PostgreSQL 데이터베이스에 연결
engine = create_engine('postgresql+psycopg2://postgres:password@localhost/mydb')

# DataFrame을 PostgreSQL에 저장
df.to_sql('university', engine, index=False, if_exists='replace')

443

## SQL 구문으로 데이터 분석하기

In [ ]:
from tabulate import tabulate

# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

# 쿼리 결과를 DataFrame으로 변환하는 함수
def query_to_dataframe(query):
    cur.execute(query)
    rows = cur.fetchall()
    colnames = [desc[0] for desc in cur.description]
    return pd.DataFrame(rows, columns=colnames)

# 1) 취업률이 제일 높은 학교
result1 = query_to_dataframe("SELECT university_name FROM university ORDER BY employment_rate_2023 DESC LIMIT 1;")

# 2) 전임교원 1인당 학생 수가 제일 높은 학교
result2 = query_to_dataframe("SELECT university_name FROM university ORDER BY students_per_faculty_2023 DESC LIMIT 1;")

# 3) 연평균 등록금이 5000천원 미만인 학교 중 학생 1인당 교육비를 내림차순으로 정렬
result3 = query_to_dataframe("SELECT university_name FROM university WHERE annual_tuition_2024 < 5000 ORDER BY education_cost_per_student_2023 DESC;")

# 4) 지역 별로 신입생 경쟁률의 평균을 구해서 내림차순으로 정렬
result4 = query_to_dataframe("SELECT region_name, AVG(freshman_competition_rate_2023) FROM university GROUP BY region_name ORDER BY AVG(freshman_competition_rate_2023) DESC;")

# 5) 지역 별로 신입생 충원율의 평균을 구해서 내림차순으로 정렬
result5 = query_to_dataframe("SELECT region_name, AVG(freshman_enrollment_rate_2023) FROM university GROUP BY region_name ORDER BY AVG(freshman_enrollment_rate_2023) DESC;")

# 6) 설립유형 별로 평균 연평균 등록금을 구해서 내림차순으로 정렬
result6 = query_to_dataframe("SELECT establishment_type, AVG(annual_tuition_2024) FROM university GROUP BY establishment_type ORDER BY AVG(annual_tuition_2024) DESC;")

# 7) 연평균 등록금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 학생 1인당 교육비의 평균과 표준편차
result7 = query_to_dataframe("""
WITH percentiles AS (
    SELECT education_cost_per_student_2023, NTILE(5) OVER (ORDER BY annual_tuition_2024) AS percentile
    FROM university
)
SELECT percentile, AVG(education_cost_per_student_2023), STDDEV(education_cost_per_student_2023)
FROM percentiles
GROUP BY percentile
ORDER BY percentile;
""")

# 8) 학생 1인당 연간 장학금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 신입생 충원율의 평균과 표준편차
result8 = query_to_dataframe("""
WITH percentiles AS (
    SELECT freshman_enrollment_rate_2023, NTILE(5) OVER (ORDER BY scholarship_per_student_2023) AS percentile
    FROM university
)
SELECT percentile, AVG(freshman_enrollment_rate_2023), STDDEV(freshman_enrollment_rate_2023)
FROM percentiles
GROUP BY percentile
ORDER BY percentile;
""")

# 결과 출력
print("1) 취업률이 제일 높은 학교:")
print(tabulate(result1, headers='keys', tablefmt='psql'))

print("\n2) 전임교원 1인당 학생 수가 제일 높은 학교:")
print(tabulate(result2, headers='keys', tablefmt='psql'))

print("\n3) 연평균 등록금이 5000천원 미만인 학교 중 학생 1인당 교육비를 내림차순으로 정렬:")
print(tabulate(result3, headers='keys', tablefmt='psql'))

print("\n4) 지역 별로 신입생 경쟁률의 평균을 구해서 내림차순으로 정렬:")
print(tabulate(result4, headers='keys', tablefmt='psql'))

print("\n5) 지역 별로 신입생 충원율의 평균을 구해서 내림차순으로 정렬:")
print(tabulate(result5, headers='keys', tablefmt='psql'))

print("\n6) 설립유형 별로 평균 연평균 등록금을 구해서 내림차순으로 정렬:")
print(tabulate(result6, headers='keys', tablefmt='psql'))

print("\n7) 연평균 등록금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 학생 1인당 교육비의 평균과 표준편차:")
print(tabulate(result7, headers='keys', tablefmt='psql'))

print("\n8) 학생 1인당 연간 장학금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 신입생 충원율의 평균과 표준편차:")
print(tabulate(result8, headers='keys', tablefmt='psql'))

# 연결 종료
cur.close()
conn.close()

1) 취업률이 제일 높은 학교:
+----+---------------------------------+
|    | university_name                 |
|----+---------------------------------|
|  0 | 한국폴리텍 II 대학 남인천캠퍼스 |
+----+---------------------------------+

2) 전임교원 1인당 학생 수가 제일 높은 학교:
+----+--------------------+
|    | university_name    |
|----+--------------------|
|  0 | 한국방송통신대학교 |
+----+--------------------+

3) 연평균 등록금이 5000천원 미만인 학교 중 학생 1인당 교육비를 내림차순으로 정렬:
+-----+----------------------------------------+
|     | university_name                        |
|-----+----------------------------------------|
|   0 | 한국폴리텍 VII 대학 동부산캠퍼스       |
|   1 | 한국폴리텍 VII 대학 진주캠퍼스         |
|   2 | 한국폴리텍 V 대학 순천캠퍼스           |
|   3 | 한국폴리텍 II 대학 화성캠퍼스          |
|   4 | 광주과학기술원                         |
|   5 | 충북도립대학교                         |
|   6 | 한국기술교육대학교                     |
|   7 | 한국폴리텍 II 대학 남인천캠퍼스        |
|   8 | 한국전통문화대학교                     |
|   9 | 한국폴리텍 I 대학 제주캠퍼스           |
|  10 | 한국폴리텍 III 대학 춘천캠퍼스         |
|  11 | 한국폴리텍 VI 대학 영주캠퍼스          |
|  12 | 한국복지대학교                         |
|  13 | 농협대학교                             |
|  14 | 강원도립대학교                         |
|  15 | 한국예술종합학교                       |
|  16 | ICT폴리텍대학                          |
|  17 | 영산선학대학교                         |
|  18 | 경남도립거창대학                       |
|  19 | 중앙승가대학교                         |
|  20 | 광주가톨릭대학교                       |
|  21 | 한국폴리텍 VI 대학 대구캠퍼스          |
|  22 | 전남대학교                             |
|  23 | 경북대학교                             |
|  24 | 충북대학교                             |
|  25 | 경북도립대학교                         |
|  26 | 부산대학교                             |
|  27 | 한국농수산대학교                       |
|  28 | 국립목포해양대학교                     |
|  29 | 한국폴리텍 V 대학 익산캠퍼스           |
|  30 | 충남대학교                             |
|  31 | 국립목포대학교                         |
|  32 | 전북대학교                             |
|  33 | 국립한국해양대학교                     |
|  34 | 제주대학교                             |
|  35 | 국립창원대학교                         |
|  36 | 경상국립대학교                         |
|  37 | 국립안동대학교                         |
|  38 | 강원대학교                             |
|  39 | 한국폴리텍 V 대학 전북캠퍼스           |
|  40 | 인천대학교                             |
|  41 | 국립한국교통대학교                     |
|  42 | 국립순천대학교                         |
|  43 | 국립금오공과대학교                     |
|  44 | 서울시립대학교                         |
|  45 | 국립군산대학교                         |
|  46 | 경남도립남해대학                       |
|  47 | 충남도립대학교                         |
|  48 | 한국폴리텍 IV 대학 대전캠퍼스          |
|  49 | 한국폴리텍 III 대학 강릉캠퍼스         |
|  50 | 국립강릉원주대학교                     |
|  51 | 국립부경대학교                         |
|  52 | 한국폴리텍 III 대학 원주캠퍼스         |
|  53 | 한경국립대학교                         |
|  54 | 국립한밭대학교                         |
|  55 | 한국체육대학교                         |
|  56 | 국립공주대학교                         |
|  57 | 광주교육대학교                         |
|  58 | 진주교육대학교                         |
|  59 | 청주교육대학교                         |
|  60 | 전남도립대학교                         |
|  61 | 한국교원대학교                         |
|  62 | 한국폴리텍 VI 대학 영남융합기술캠퍼스  |
|  63 | 전주교육대학교                         |
|  64 | 춘천교육대학교                         |
|  65 | 한국폴리텍 I 대학 성남캠퍼스           |
|  66 | 세경대학교                             |
|  67 | 공주교육대학교                         |
|  68 | 경인교육대학교                         |
|  69 | 대구교육대학교                         |
|  70 | 한국폴리텍 특성화대학 바이오캠퍼스     |
|  71 | 서울교육대학교                         |
|  72 | 부산교육대학교                         |
|  73 | 한국폴리텍 VII 대학 창원캠퍼스         |
|  74 | 한국폴리텍 V 대학 광주캠퍼스           |
|  75 | 한국폴리텍 V 대학 전남캠퍼스           |
|  76 | 강원관광대학교                         |
|  77 | 동아보건대학교                         |
|  78 | 한국폴리텍 I 대학 서울정수캠퍼스       |
|  79 | 한국폴리텍 IV 대학 충남캠퍼스          |
|  80 | 나주대학교                             |
|  81 | 한국폴리텍 특성화대학 로봇캠퍼스       |
|  82 | 한국폴리텍 II 대학 인천캠퍼스          |
|  83 | 한국폴리텍 IV 대학 아산캠퍼스          |
|  84 | 한국폴리텍 I 대학 서울강서캠퍼스       |
|  85 | 한국폴리텍 특성화대학 반도체융합캠퍼스 |
|  86 | 정석대학                               |
|  87 | 디지털서울문화예술대학교               |
|  88 | 한국폴리텍 VII 대학 부산캠퍼스         |
|  89 | 한국폴리텍 VI 대학 구미캠퍼스          |
|  90 | 한국열린사이버대학교                   |
|  91 | 화신사이버대학교                       |
|  92 | 부산디지털대학교                       |
|  93 | 한국폴리텍 특성화대학 항공캠퍼스       |
|  94 | 한국폴리텍 VII 대학 울산캠퍼스         |
|  95 | 글로벌사이버대학교                     |
|  96 | 건양사이버대학교                       |
|  97 | 원광디지털대학교                       |
|  98 | 국제사이버대학교                       |
|  99 | 영진사이버대학교                       |
| 100 | 경희사이버대학교                       |
| 101 | 숭실사이버대학교                       |
| 102 | 대구사이버대학교                       |
| 103 | 세종사이버대학교                       |
| 104 | 한국폴리텍 IV 대학 청주캠퍼스          |
| 105 | 서울사이버대학교                       |
| 106 | 한국복지사이버대학교                   |
| 107 | 한양사이버대학교                       |
| 108 | 사이버한국외국어대학교                 |
| 109 | 서울디지털대학교                       |
| 110 | 고려사이버대학교                       |
| 111 | 한국방송통신대학교                     |
| 112 | 경운대학교(산업대)                     |
| 113 | 경동대학교                             |
| 114 | 경남과학기술대학교                     |
| 115 | 강원대학교                             |
| 116 | 서남대학교                             |
| 117 | 서남대학교                             |
| 118 | 가야대학교(고령)                       |
| 119 | 상지영서대학교                         |
| 120 | 동부산대학교                           |
| 121 | 한려대학교                             |
| 122 | 한밭대학교(산업대)                     |
| 123 | 한북대학교                             |
| 124 | 한중대학교                             |
| 125 | 동우대학                               |
| 126 | 대구외국어대학교                       |
| 127 | 창신대학                               |
| 128 | 탐라대학교                             |
| 129 | 태재대학교                             |
| 130 | 진주산업대학교(산업대)                 |
| 131 | 국립강릉원주대학교                     |
| 132 | 제주산업정보대학                       |
| 133 | 구세군사관학교                         |
| 134 | 한국산업기술대학교(산업대)             |
| 135 | 남서울대학교(산업대)                   |
| 136 | 전남대학교                             |
| 137 | 적십자간호대학                         |
| 138 | 인천전문대학                           |
| 139 | 대구미래대학교                         |
| 140 | 인제대학교                             |
| 141 | 우송대학교(산업대)                     |
| 142 | 경인교육대학교                         |
| 143 | 신흥대학교                             |
| 144 | 성심외국어대학                         |
| 145 | 서해대학                               |
+-----+----------------------------------------+

4) 지역 별로 신입생 경쟁률의 평균을 구해서 내림차순으로 정렬:
+----+---------------+---------+
|    | region_name   |     avg |
|----+---------------+---------|
|  0 | 서울          | 9.47681 |
|  1 | 울산          | 8.2     |
|  2 | 경기          | 7.01558 |
|  3 | 대구          | 6.22143 |
|  4 | 세종          | 5.675   |
|  5 | 광주          | 5.46667 |
|  6 | 인천          | 5.30833 |
|  7 | 충북          | 5.04737 |
|  8 | 충남          | 4.86552 |
|  9 | 대전          | 4.83    |
| 10 | 부산          | 4.81724 |
| 11 | 전북          | 3.86957 |
| 12 | 강원          | 3.68519 |
| 13 | 경남          | 3.568   |
| 14 | 경북          | 3.37857 |
| 15 | 전남          | 3.28696 |
| 16 | 제주          | 1.7     |
+----+---------------+---------+

5) 지역 별로 신입생 충원율의 평균을 구해서 내림차순으로 정렬:
+----+---------------+---------+
|    | region_name   |     avg |
|----+---------------+---------|
|  0 | 울산          | 95.8    |
|  1 | 광주          | 95.4056 |
|  2 | 전북          | 94.5652 |
|  3 | 대구          | 93.9643 |
|  4 | 서울          | 90.713  |
|  5 | 충북          | 87.3158 |
|  6 | 충남          | 85.1862 |
|  7 | 인천          | 83.5083 |
|  8 | 경북          | 81.7905 |
|  9 | 경기          | 79.7818 |
| 10 | 대전          | 78.735  |
| 11 | 세종          | 77.775  |
| 12 | 부산          | 74.5483 |
| 13 | 강원          | 73.9556 |
| 14 | 전남          | 72.9348 |
| 15 | 경남          | 71.844  |
| 16 | 제주          | 52.1143 |
+----+---------------+---------+

6) 설립유형 별로 평균 연평균 등록금을 구해서 내림차순으로 정렬:
+----+----------------------+---------+
|    | establishment_type   |     avg |
|----+----------------------+---------|
|  0 | 특별법법인           | 6365.98 |
|  1 | 사립                 | 5711.54 |
|  2 | 국립                 | 3555.99 |
|  3 | 국립대법인           | 3555.37 |
|  4 | 특별법국립           | 2729.63 |
|  5 | 공립                 | 2386.26 |
+----+----------------------+---------+

7) 연평균 등록금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 학생 1인당 교육비의 평균과 표준편차:
+----+--------------+---------+----------+
|    |   percentile |     avg |   stddev |
|----+--------------+---------+----------|
|  0 |            1 | 21289.7 | 59024.7  |
|  1 |            2 | 16978.9 | 15233.5  |
|  2 |            3 | 13565.7 |  9267.25 |
|  3 |            4 | 13248.4 |  9984.89 |
|  4 |            5 | 19622.3 | 48348.4  |
+----+--------------+---------+----------+

8) 학생 1인당 연간 장학금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 신입생 충원율의 평균과 표준편차:
+----+--------------+---------+----------+
|    |   percentile |     avg |   stddev |
|----+--------------+---------+----------|
|  0 |            1 | 50.3506 |  53.0381 |
|  1 |            2 | 90.2775 |  25.5951 |
|  2 |            3 | 91.7573 |  14.9547 |
|  3 |            4 | 91.7375 |  12.3066 |
|  4 |            5 | 88.45   |  18.4824 |
+----+--------------+---------+----------+

# **과제**

## 컬럼 정보 조회

In [ ]:
import psycopg2

# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# university 테이블의 컬럼 정보 조회
cur.execute("""
SELECT
    column_name,
    data_type,
    is_nullable,
    character_maximum_length
FROM
    information_schema.columns
WHERE
    table_name = 'university';
""")
columns = cur.fetchall()

print("university 테이블의 컬럼 정보:")
for column in columns:
    print(f"컬럼명: {column[0]}, 데이터 타입: {column[1]}, NULL 허용: {column[2]}, 최대 길이: {column[3]}")

# 커서와 연결 종료
cur.close()
conn.close()

university 테이블의 컬럼 정보:
컬럼명: books_per_student_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: faculty_teaching_ratio_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: scholarship_per_student_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: annual_tuition_2024, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: education_cost_per_student_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: dorm_capacity_rate_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: No, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: undergrad_admission_quota_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: undergrad_graduates_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: full_time_faculty_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: undergrad_students_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: freshman_competition_rate_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: freshman_enrollment_rate_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: employment_rate_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: international_students_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: students_per_faculty_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: faculty_ratio_based_on_quota_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: faculty_ratio_based_on_enrollment_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: university_name, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: campus_name, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: school_type, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: school_category, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: establishment_type, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: region_name, 데이터 타입: text, NULL 허용: YES, 최대 길이: None

## 한글 컬럼명과 영어 컬럼명

학교명: university_name

본분교명: campus_name

학교종류: school_type

학교유형: school_category

설립유형: establishment_type

지역명: region_name

입학정원(학부)(2023,명): undergrad_admission_quota_2023

졸업생수(학부)(2023,명): undergrad_graduates_2023

전임교원수(학부+대학원)(2023,명): full_time_faculty_2023

재학생(학부)(2023,명): undergrad_students_2023

신입생 경쟁률(학부)(2023,:1): freshman_competition_rate_2023

신입생 충원율(학부)(2023,%) : freshman_enrollment_rate_2023

취업률(학부)(2023,%) : employment_rate_2023

외국인 학생 수(학부)(2023,명) : international_students_2023

전임교원 1인당 학생 수(학생정원기준)(학부+대학원)(2023,명) : students_per_faculty_2023

전임교원 확보율(학생정원기준)(학부+대학원)(2023,%) : faculty_ratio_based_on_quota_2023

전임 교원 확보율(재학생 기준)(학부+대학원)(2023,%) : faculty_ratio_based_on_enrollment_2023

전임교원 강의 담당 비율(학부)(2023,%) : faculty_teaching_ratio_2023

학생 1인당 연간 장학금(학부)(2023,원) : scholarship_per_student_2023

연평균 등록금(학부)(2024,천원) : annual_tuition_2024

학생 1인당 교육비(학부+대학원)(2023,천원) : education_cost_per_student_2023

기숙사 수용율(학부+대학원)(2023,%) : dorm_capacity_rate_2023

학생 1인당 도서 자료 수(학부+대학원)(2023,권) : books_per_student_2023

## 과제

Chat-GPT를 활용하여 자연어 질의를 SQL문으로 변환하여 주어진 과제를 수행하시오.

Chat-GPT에게 질문을 할 때, 위의 컬럼 정보와 한글 컬럼명/영어 컬럼명이 대응된 정보를 활용하면 조금 더 적절한 답변을 얻어낼 수 있을 수 있다.

In [ ]:
def sql_print(sql):
  query_df = query_to_dataframe(sql)
  print(tabulate(query_df, headers='keys', tablefmt='psql'))

### 예제

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT
    region_name,
    AVG(full_time_faculty_2023) AS avg_full_time_faculty
FROM
    university
WHERE
    full_time_faculty_2023 >= 100
GROUP BY
    region_name
HAVING
    AVG(full_time_faculty_2023) >= 300
ORDER BY
    AVG(full_time_faculty_2023) DESC;
"""

print("지역별로 전임 교원 수가 100명 이상인 대학의 전임 교원 수의 평균을 구하고, 그 평균이 300 이상인 데이터를 내림차순으로 출력:\n")

sql_print(sql)

지역별로 전임 교원 수가 100명 이상인 대학의 전임 교원 수의 평균을 구하고, 그 평균이 300 이상인 데이터를 내림차순으로 출력:

+----+---------------+-------------------------+
|    | region_name   |   avg_full_time_faculty |
|----+---------------+-------------------------|
|  0 | 경남          |                 574     |
|  1 | 서울          |                 563.05  |
|  2 | 울산          |                 520.333 |
|  3 | 전북          |                 434.143 |
|  4 | 부산          |                 399.733 |
|  5 | 제주          |                 392.5   |
|  6 | 대구          |                 390.375 |
|  7 | 대전          |                 370.667 |
|  8 | 강원          |                 365.556 |
|  9 | 인천          |                 358.8   |
| 10 | 충남          |                 340.733 |
| 11 | 광주          |                 317.8   |
+----+---------------+-------------------------+

### 1. WHERE 절을 사용한 구문

주어진 university 테이블에 WHERE 절을 사용한 구문 3개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 30점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

### 2. ORDER BY 절을 사용한 구문

주어진 university 테이블에 ORDER BY 절을 사용한 구문 3개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 30점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

### 3. GROUP BY 절을 사용한 구문

주어진 university 테이블에 GROUP BY 절을 사용한 구문 2개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 20점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

### 4. GROUP BY, HAVING 절을 사용한 구문

주어진 university 테이블에 GROUP BY, HAVING 절을 사용한 구문 2개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 20점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

### 5. 보너스 과제

주어진 university 테이블에 WHERE, ORDER BY, GROUP BY, HAVING 절 이외에  복잡한 기능을 수행하는 구문 2개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 20점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)